# MiniHSM — configuracion por defecto
# Copiar a sdkconfig.local y completar (sdkconfig.local esta en .gitignore)
# O usar: idf.py menuconfig

# WiFi — dejar vacio para modo provisioning
CONFIG_WIFI_SSID=""
CONFIG_WIFI_PASS=""

# ServerHSM
CONFIG_SERVERHSM_URL="https://fileserver.locker/serverHSM/api"
CONFIG_HEARTBEAT_INTERVAL_SEC=300

# ESP32-S3 — Flash 16MB, PSRAM 8MB
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_SPIRAM_SUPPORT=y
CONFIG_ESP32S3_SPIRAM_SUPPORT=y

# mbedTLS X.509 write — necesario para cert_manager (cert autofirmado + CSR)
CONFIG_MBEDTLS_X509_CRT_WRITE_C=y
CONFIG_MBEDTLS_X509_CSR_WRITE_C=y
CONFIG_MBEDTLS_PK_WRITE_C=y
CONFIG_MBEDTLS_ENTROPY_C=y
CONFIG_MBEDTLS_HAVE_TIME=y
